@import url(../css/common.css);

header{
    display: none;
}
main{}


/*.visual*/
main > .visual{
    position: relative;
    height: 100vh;
    overflow: hidden;
}
main > .visual > h3{
    font-size: 3rem;
    color: #28550067;
    transform: rotate(-50deg);
    position: absolute;
    left: -5%; top: 50%;
}

/*logo*/
main > .visual > p{
    position: absolute;
    left: 2%; top: 2%;
    width: 8%;
}
main > .visual > p > img{
    width: 100%; height: 100%;
}

/*.box*/
main > .visual > .box{
    content: '';
    width: 750px; height: 1500px;
    background-color: #497028;
    display: block;
    transform-origin: 50% 100%;
    transform: translate(-80%,200px) rotate(40deg) ;
    border-radius: 50vw;
    position: absolute;
    left: 50%; bottom: 50%;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.575);
    z-index: -1;
}

/*.slide*/
main > .visual > .slide{
    width: 1400px; height: 100%;
    margin: 0 auto;
}
main > .visual > .slide > ul{
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 150px; left: 50%;
    transform: translateX(-50%);
    width:1200px;
}
main > .visual > .slide > ul > li{
    
    width:200px;
    position: relative;
}
main > .visual > .slide > ul > li > p{}
main > .visual > .slide > ul > li > p > img{width:100%;}
main > .visual > .slide > ul > li > div{
    position: absolute;
    top: -250%; right: -200%;
    display: none;
    color: #000;
}
main > .visual > .slide > ul > li > div > h2{}
main > .visual > .slide > ul > li > div > p{}
main > .visual > .slide > ul > li > div > a{
    color: #fff;
    background-color: #285500;
    padding: 0 10px;
    border-radius: 20px;
}


main > .visual > .slide > ul > li:nth-child(2) > p{
    transform: translate(0,-250px) scale(3) ;
}
main > .visual > .slide > ul > li:nth-child(2) > div{
    display: block;
    color: #fff;
}
main > .visual > .slide > ul > li:nth-child(2) > div > h2{
    font-size: 2rem;
}
main > .visual > .slide > ul > li:nth-child(2) > div > p{
    font-size: 1.5rem;
}
main > .visual > .slide > ul > li:nth-child(2) > div > a{
    font-size: 1.2rem;
}


/*.number*/
main > .visual > .slide > .number{
    width: 60%;
    position: absolute ;
    right: 20%; bottom: 10%;
    display: flex;
    justify-content: space-between;    
}
main > .visual > .slide > .number > p{
    margin: 0;
    font-size: 1.4rem;
}
main > .visual > .slide > .number > p:nth-child(1){
    color: #21A9D4;
}
main > .visual > .slide > .number > p:nth-child(2){
    color: #FF4848;
    font-size: 2.6rem;
}
main > .visual > .slide > .number > p:nth-child(3){
    color: #FF8A48;
}

/*circle*/
main > .visual > .slide > .circle{
    position: absolute;
    right: 10%; bottom: 40%;
}
main > .visual > .slide > .circle > span{}
main > .visual > .slide > .circle > span > a{
    display: block;
    border: 1px solid #fff;
    font-size: 0;
    width: 30px; height: 30px;
    border-radius: 100%;
    margin-bottom: 15px;
    position: relative;
    
}
main > .visual > .slide > .circle > span > a::after{
    content: '';
    width: 10px; height: 10px;
    border-radius: 100%;
    background-color: #c4c4c4;
    position: absolute; left: 50%; top: 50%;
    transform: translate(-50%, -50%);
}
main > .visual > .slide > .circle > span > a:nth-child(1){
    border: 1px solid #285500;
}

.product > .name{
    width: 100%; 
    display: flex;
    justify-content: space-between;
}
.product > .name > p{
    width: 300px;
    margin: 0 auto;
    padding-bottom: 100px;
}
.product > .name > p > img{}
