@import url(../css/common.css);

main > .pd-list{
    width: 10vw;
    background-color: #485500e8;
    padding: 10px;
    border-radius: 30px;
    margin: 0 auto;
}
main > .pd-list > a{
    display: blcok;
    padding: 5px;
    color: rgb(0, 0, 0);
}

/*product*/
.product{
    background-color: #F5F5F5;
    padding: 100px 300px;
    margin: 100px 0 0 0;
}
.product > ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}
.product > ul > li{
    width: 30%;
    margin-bottom: 100px;
}
.product > ul > li > a{
    background-color: #fff;
    width: 300px; height: 300px;
    border-radius: 20px;
    display: flex;
    padding: 50px;
    position: relative;
    margin: 0 auto;
}
.product > ul > li > a::after{
    content: url(../img/icon/ph_heart-straight-light.png);
    position: absolute;
    bottom: 5%; right: 5%;
}
.product > ul > li > a > img{
    transition: 0.5s;
    width: 100%;
}
.product > ul > li > div{
    width: 300px;
    margin: 0 auto;
    padding-top: 25px;
}
.product > ul > li > div > a > p{
    font-size: 0.8rem;
}
.product > ul > li > div > a{color: #000;}
.product > ul > li > div > a:nth-child(3) > h4{color: #285500;}
.product > ul > li > a:hover > img{
    transform: scale(1.1);
}

.product > .sort{
    text-align: right;
    margin-right: 50px;
    margin-bottom: 50px;
}
.product > .sort > a{
    color: #285500;
    
}
.product > .sort > a::after{
    content: '';
    width: 1px; height: 10px;
    background-color: #2855009d;
    display: inline-block;
    margin-left: 5px;
}
.product > .sort > a:last-of-type::after{
    width: 0;
}
main > .add > span > a{
    color: #fff;
}