@import url(../css/common.css);

/* main > .line{
    width: 100%;
}
main > .line > span{
    display: block;
    width: 80%;
    border-top: 1px solid #28550050;
    margin: 50px auto;
} */

main > .signup{
    width: 100%;
}
main > .signup > ul{
    width: 60%;
    margin: 0 auto
}
main > .signup > ul > li{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
main > .signup > ul > li > label{
    width: 150px;
    display: inline-block;
}
main > .signup > ul > li > label > b{}
main > .signup > ul > li > label > b > em{color: #f00;}
main > .signup > ul > li > input{
    width: 300px; height: 45px;
    border-radius: 5px;
    border: 1px solid #c4c4c4;
    padding-left: 10px;
}
main > .signup > ul > li > button{
    width: 120px; height: 45px;
    background-color: #fff;
    color: #285500;
    border: 1px solid #285500;
    border-radius: 5px;
}
main > .signup > ul > li > input::placeholder{
    color: #c4c4c4;
}
main > .signup > ul > .address > button{
    width: 300px;
}
main > .signup > ul > .address > button > img{
    padding: 0;
    vertical-align: middle;
}
main > .signup > ul > .birth > input{
    padding: 0;
    text-align: center;
}
main > .signup > ul > .birth > input::placeholder{
    text-align: center;
}
main > .signup > hr{
    width: 60%;
    border: 1px solid #28550013;
}


main > .signup > .check{
    display: flex;
}
main > .signup > .check > p{}
main > .signup > .check > .box{}



main > .signup > .check > .box > .check-1{}
main > .signup > .check > .box > .check-1 > input{}
main > .signup > .check > .box > .check-1 > label{}



main > .signup > .check > .box > .check-2{
    display: flex;
}
main > .signup > .check > .box > .check-2 > input{}
main > .signup > .check > .box > .check-2 > label{}