@import url(../css/common.css);

main > .signup{
    width: 100%;
}
main > .signup > ul{
    width: 40%;
    margin: 0 auto
}
main > .signup > ul > li{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
main > .signup > ul > li > label{
    width: 150px;
    display: inline-block;
}
main > .signup > ul > li > label > b{}
main > .signup > ul > li > label > b > em{color: #f00;}
main > .signup > ul > li > input{
    width: 300px; height: 45px;
    border-radius: 5px;
    border: 1px solid #c4c4c4;
    padding-left: 10px;
}
main > .signup > ul > li > button{
    width: 120px; height: 45px;
    background-color: #fff;
    color: #285500;
    border: 1px solid #285500;
    border-radius: 5px;
}
main > .signup > ul > li > input::placeholder{
    color: #c4c4c4;
}
main > .signup > ul > .address > button{
    width: 300px;
}
main > .signup > ul > .address > button > img{
    padding: 0;
    vertical-align: middle;
}
main > .signup > ul > .birth > input{
    padding: 0;
    text-align: center;
}
main > .signup > ul > .birth > input::placeholder{
    text-align: center;
}
main > .signup > ul > li:nth-child(6) > button{
    color: #c4c4c4;
    border-color: #c4c4c4;
} 
main > .signup > hr{
    width: 40%;
    border: 1px solid #28550013;
}


main > .signup > .check{
    display: flex;
    width: 40%;
    margin: 0 auto;
}
main > .signup > .check > p{
    width: 150px;
}



main > .signup > .check > .box > .check-2{
    display: block;
}
main > .signup > .check > .box > .check-2 > input{
}
main > .signup > .check > .box label:nth-of-type(1){
    background: url(../img/icon/check1.png);
    background-size: 100%;
    font-size: 0;
    width: 18px; height: 18px;
    display: inline-block;
    vertical-align: middle;
}
main > .signup > .check > .box > .check-2 > label:nth-of-type(2){
    display: inline-block;
    width: 300px;
    margin-top: 5px;
}
main > .signup > .check > .box > .check-2 > label > em{
    color: #4c4c4c;
}
main > .signup > .check > .box > .check-2 > a{
    color: #285500;
    height: 18px;
}
main > .signup > .check > .box > .check-2 > a::after{
    content:'';
    background: url(../img/icon/look.png) 0  -3px no-repeat;
    /* background-size: 100%; */
    width: 16px; height: 16px;
    display: inline-block;
    vertical-align: middle;
    
}





main > .signup > .check > .box > .check-2 > .route{
    display: flex;
    justify-content: left;
    margin-left: 30px;
}
main > .signup > .check > .box > .check-2 > .route > .check-3{
    margin: 5px 10px;
}


/*==============checkbox===============*/
main > .signup > .check > .box > .check-1 > input{
    display: none;
}
main > .signup > .check > .box > .check-2 > input{
    display: none;
}
main > .signup > .check > .box > .check-2 > .route > .check-3 > input{
    display: none;
}





/*=============button===============*/
main > .signup > .add{
    width: 100%;
    margin-top: 10vh;
    display: flex;
    justify-content: center;
}
main > .signup > .add > span{
    display: inline-block;
    width: 10vw;
    border: 1px solid #285500;
    height: 50px;
    text-align: center;
    border-radius: 40px;
    color: #fff;
    background-color: #fff;
    line-height: 50px;
    margin: 0 5px;
    background-color: #285500;
}
main > .add > span > a{
    color: #fff;
}



/*===========popup1===========*/
.popup-1{
    width: 450px; height: 600px;
    background-color: #fff;
    border-radius: 20px;
    color: #9e9e9e;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.185);
    position: fixed;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    display: none;
}
.popup-1 > h5{
    font-size: 1.1rem;
    color: #000;
    margin: 0;
    padding: 20px 0 20px 20px;
}
.popup-1 > .popup-txt{
    width: 450px; height: 470px;
    overflow: auto;
    padding: 0 20px;
}
.popup-1 > h6{
    text-align: center;
    color: #285500;
    font-size: 1.1rem;
    margin: 0;
    padding: 20px 0;
}


/*===========popup2===========*/
.popup-2{
    width: 450px; height: 600px;
    background-color: #fff;
    border-radius: 20px;
    color: #9e9e9e;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.185);
    position: fixed;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    display: none;
}
.popup-2 > h5{
    font-size: 1.1rem;
    color: #000;
    margin: 0;
    padding: 20px 0 20px 20px;
}
.popup-2 > .popup-txt{
    width: 450px; height: 470px;
    overflow: auto;
    padding: 0 20px;
}
.popup-2 > h6{
    text-align: center;
    color: #285500;
    font-size: 1.1rem;
    margin: 0;
    padding: 20px 0;
}


/*==========popup background==========*/
.shadow{
    position: fixed;
    left: 0;top: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%; height: 100vh;
    display: none;
}